version: '3.8'

services:
  mongo:
    image: mongo
    container_name: quote_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

  server:
    build: ./server
    container_name: quote_server
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/quote-app
      - PORT=5000
    depends_on:
      - mongo
    networks:
      - app-network
    volumes:
        - ./server:/app
        - /app/node_modules

  client:
    build: ./client
    container_name: quote_client
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:5000
    depends_on:
      - server
    networks:
      - app-network
    volumes:
        - ./client:/app
        - /app/node_modules

networks:
  app-network:
    driver: bridge

volumes:
  mongo_data:
